extends layout

block content
    div.worldDate
    div.container
        div.map
            canvas#canvas
        div.map-info
    script(src='/socket.io/socket.io.js')
    script.
        var socket = io('http://localhost:3000');
        var isPersonCreated = false;
        var persons_client;
        var chunks_client;
    script(src='/javascripts/client_getWorldDate.js')
    script(src='/javascripts/client_getPersons.js')
    script(src='/javascripts/client_getChunks.js')