extends layout

block content
    div.worldDate
    div.container
        div.map
            canvas#canvas
        div.info
            div.person-info
            div.map-info
    script(src='/socket.io/socket.io.js')
    script.
        var isPersonCreated = false;
        var persons_client;
        var chunks_client;
        var worldDate_client;
        var socket = io();
    script(src='/javascripts/client_getWorldDate.js')
    script(src='/javascripts/client_getChunks.js')
    //script(src='/javascripts/client_getPersons.js')
