extends layout

block content
    div.worldDate
    script(src='/socket.io/socket.io.js')
    script.
        var socket = io('http://localhost:3000');
    script(src='/javascripts/client_getWorldDate.js')
    script(src='/javascripts/client_getPersons.js')