body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.person {
    width: 280px;
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 10px;
    margin: 2px;
}
.row-person .person{
    display: inline-block;
    max-width: 1200px;
}

.name {
    width: 100%;
    margin-bottom: 5px;
}

.general {
    margin-bottom: 5px;
}

.general div, .attributes div{
    display: inline-block;
}

.state, .action, .stage {
    width: 20%;
}

.health, .fatigue, .hunger, .thirst {
    width: 20%;
}

.attributes>div {
    position: relative;
    min-width: 55px;
}

.attributes>div:hover::after {
    content: attr(data-title);
    position: absolute;
    left: 30px;
    top: -10px;
    z-index: 1;
    background: rgba(255,255,230,0.9);
    font-family: Arial, sans-serif;
    font-size: 11px;
    padding: 5px 10px;
    border: 1px solid #333;
    border-radius: 3px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container>div {
    display: inline-block;
}

.info {
    max-width: 400px;
}

.map, .person-info, .map-info{
    border: 1px solid #000000;
    margin: 1px;
}

.map {
    min-width: 700px;
    position: relative;
}

.person-icon {
    position: absolute;
    background-image: url('../images/person-icon.png');
    width: 8px;
    height: 8px;
}

.person-icon:hover {
    background-image: url('../images/person-icon-hover.png');
    width: 8px;
    height: 8px;
}

.person-job-icon {
    position: absolute;
    background-image: url('../images/person-job-icon.png');
    width: 8px;
    height: 8px;
}

.person-job-icon:hover {
    background-image: url('../images/person-job-icon-hover.png');
    width: 8px;
    height: 8px;
}